.searchContainer{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.searchContainer input#search{
  width: 300px;
  height: 50px;
  background: #4B4E5B;
  color: #ffffff;
  border: none;
  font-size: 10pt;
  float: left;
  margin-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #ffffff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #ffffff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #ffffff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #ffffff;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #ffffff;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #ffffff;
}
