html {
    font-size: 62.5%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
      background: #31333C;
}

.activeNav {
    font-weight: bold;
}

.container-1{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-1 input#search{
  width: 300px;
  height: 50px;
  background: #4B4E5B;
  border: none;
  font-size: 10pt;
  float: left;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container-1 .icon{
  position: absolute;
  top: 50%;
  margin-left: 120px;
  margin-top: 17px;
  z-index: 1;
  color: #ffffff;
}

div#selectedHeroes {
  overflow: auto;
  white-space: nowrap;
}

div#selectedHeroes img {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div#heroes {
  overflow-y: auto;
  overflow-x: hidden;
}

div#heroes img {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

::-webkit-input-placeholder { /* Chrome */
  color: #ffffff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ffffff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ffffff;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #ffffff;
  opacity: 1;
}
